body,.contenair{
    height: 100% !important;
}
html{
    min-height: 100% !important;
}
/*.row{
 height: 100%;
}*/
.menu-item{
 color: white;
 font-size: 200%;
 border: 2px inset white;
 text-align: center;
 width: 100%;
 height: 70px;
 vertical-align: middle;
}
.li{
    list-style-type: none;
}
.as,.sect{
    height: 100%;
}

/* vue formulaire*/
.form-auth{
    box-shadow: 1px 1px 5px 1px gray;
}
.form-auth input[name]{
    border: 0;
    border-bottom: 3px solid black;
    width: 100%;
}
.form-auth div{
    width: 100%;
    padding: 5%;
}
/*accueil*/
.accueil-nb {
    font-size: 80px;
    text-align: center;
    box-shadow: 1px 1px 4px 4px gray;
    margin: 1%;
}

.pass{
    box-shadow: 1px 1px 4px 4px gray;
    margin: 3%;
}